body {
  margin: 0;
  font-family: Arial, sans-serif;

  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url("background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
}

.overlay {
  padding: 40px 20px;
  text-align: center;
}

.main-title {
  display: inline-block;
  padding: 20px 40px;
  border: 4px solid #f1c40f;
  border-radius: 14px;
  font-size: 42px;
  background: rgba(0,0,0,.6);
  margin-bottom: 40px;
}

.voting-box {
  max-width: 600px;
  margin: 0 auto 40px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255,255,255,.15);
}

.voting-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.vote-btn {
  padding: 16px 24px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.teachers { background: #2980b9; }
.students { background: #27ae60; }

.campaign-title {
  font-size: 34px;
  font-style: italic;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  padding: 14px 26px;   /* було 10px 18px */
  font-size: 16px;      /* трохи більший текст */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tab.active {
  background: #f1c40f;
  font-weight: bold;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.candidate {
  display: none;
  background: rgba(255,255,255,.15);
  padding: 30px;
  border-radius: 16px;
}

.candidate.active {
  display: block;
}

.info span {
  display: block;
  font-weight: 700;
  margin-bottom: 6px;
}

.file-link {
  display: inline-block;
  margin: 8px;
  padding: 10px 14px;
  background: #f1c40f;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

